name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk@v3
        with:
          github_user_name: 01-Fi
          outputs: |
            output/pacman-contribution-graph.svg

      - uses: EndBug/add-and-commit@v9
        with:
          add: "output"
          message: "Generate Pacman contribution graph"
